body {
  margin: 0;
  font-family: Arial;
  background: #222;
  color: white;
}

.table {
  height: 100vh;
  background: radial-gradient(circle, #0b6623 20%, #063d14);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.center-area, .player-area, .opponent-area {
  text-align: center;
}

#community, #playerCards, #aiCards {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.card {
  width: 70px;
  height: 100px;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* CHIP STYLE */

.chip {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px dashed white;
  margin: 2px;
  box-shadow:
    inset 0 0 5px rgba(255,255,255,0.5),
    0 2px 5px rgba(0,0,0,0.6);
}

#playerChips, #aiChips, #pot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: gold;
  cursor: pointer;
}

.controls button:hover {
  background: orange;
}
